*{
    font-family: "Almendra", serif;
    font-weight: 500;
    font-style: italic;
  }
.h1{
  border: 1px solid black;
  border-radius: 2px;
  border-style: dotted;
  width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    flex-direction: column;
    gap: 4px;
  }
  .container{
    gap: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    flex-direction: column;
  }
  h1{
    color: rgb(26, 85, 66);
  }
  h2{
    color: rgb(140, 144, 43);

  }
  button{
    border-radius: 2px;
    border:none;
    cursor:pointer;
  }
  button:hover{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
    transition: all .2s ease-in-out; 
    transform: scale(1.5); 

  }